body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    height: 98vh;
    width: 35%;
    margin: auto;
    border-width: 3px 10px 12px 0;
    border-style: solid;
    border-color: #b1aeae;
    background: radial-gradient(at right top, #2A6173, #AEC3CD);
    position: relative;
}

#encabezado{
    color: white;
    padding: 10% 0% 10% 45%;
}

#encabezado>h1{
    font-size: 1.5em;
    margin: 2px;
}

#encabezado>h2{
    font-size: 1.1em;
    margin: 2px;
    font-weight: lighter;
}
#contenido {
    height: 72vh;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 50px 0;
}
#columna {
    position: absolute;
    top: 0;
    left: 3%;
    background-color: #283D3D;
    width: 35px;
    height: 96%;
    padding: 30px 10px 10px 10px;
    color: white;
}

.circulo {
    border-radius: 50%;
    position: absolute;
}

#c1 {
    width: 30px;
    height: 30px;
    background-color: #4d5555;
    top: 1%;
    left: 7%;
}

#c2 {
    width: 50px;
    height: 50px;
    background-color: #4a6a6a;
    top: 15%;
    left: 30%;
}

#c3 {
    width: 20px;
    height: 20px;
    background-color: #e6eded;
    bottom: 12%;
    right: 1%;
}

#c4{
    width: 80px;
    height: 80px;
    background-color: #e6eded;
    bottom: 7%;
    right: 6%;
}

#columna > img {
    width: 90%;
    margin-left: 5%;
    border-radius: 50%;
    z-index: 10;
    position: relative;
}

.caja-contenido{
    margin: 5px 5px 5px 45%;
    z-index: 10;
    position: relative;
}
.titulo-caja{
    background: radial-gradient(at right top, #2A6173, #AEC3CD);
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #283D3D;
    padding: 8px;
    border-radius: 20px;
}

.caja-contenido>h4{
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px;
}

.caja-contenido>p{
    font-size: 0.9em;
    margin: 5px;
}
h1 {
    margin: 0;
    font-size: 24px;
}

h2 {
    margin: 0;
    font-weight: lighter;
    font-size: 18px;
}

.bloque {
    margin: 20px;
}

.titulo-bloque {
    background-color: green;
    color: white;
    padding: 5px;
}

.columna-contenido {
    margin-bottom: 15px;
}

.col-titulo {
    font-size: 0.9em;
    margin: 3px;
    background: linear-gradient(94deg, rgb(98, 117, 126)2%, rgb(49, 97, 114)83%);
    padding: 5px;
    border-radius: 5px;
}

.col-linea {
    width: 100%;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.col-linea>h6, .col-linea>h5{
    font-size: 0.7em;
    display: inline-block;
    margin: 0 0 2px 0;
    font-weight: lighter;
}

.col-linea>h5{
    width: 30%;
}

.barra {
    width: 70%;
    display: flex;
    gap: 2px;
}

.b-item{
    display: inline block;
    width: 15%;
    height: 10px;
}

.b-1{
    background-color: #4d5555;
}

.b-2{
    background-color: #518d7d;
}

.b-3{
    background-color: #7fc129;
}

.b-4{
    background-color: #bbc827;
}

.b-5{
    background-color: #e1920b;
}

.linea-icons {
    width: 100%;
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.icon {
    width: 25px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}
